#all-tweets {
  background-color: #f4f1ec;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.tweet {
  border-style: solid;
  padding: 25px 15px;
  margin-top: 20px;
}

.tweet:hover {  
  box-shadow: 10px 10px #c5cae6;
}
/* ---------------- POST HEADER ------------------------ */

article header {
  font-weight: 300;
  background-image: none;
  background-color: #f4f1ec;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}
.profile-icon-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.profile-icon-name h5 { 
  font-weight: 300;
  font-size: 18px;
  padding-top: 8px;
  padding-left: 8px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

#handle {
  font-weight: 600;
  color: #a29784;
  padding-top: 8px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
/* ---------------- POST BODY ------------------------ */
#individ-tweet {
  font-size: 15px;
  font-weight: 600;
  border: 1px solid transparent;
  border-bottom-color: #545149;
  border-bottom-width: 3px;
  border-radius: 2px;
  padding: 20px 0px;
  word-break: break-all; 
  
}
/* ---------------- POST FOOTER------------------------ */
article footer {
  display: flex; 
  justify-content: space-between;
}

footer p {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 0px 5px;
  padding-bottom: 10px;
}

footer i {
  font-size: 14px;
  margin: 5px 5px;
}
.cta-icons i:hover {
  color: orange;
  cursor: pointer;
}

