/*--------------------------- Header/ User Profile ----------------------------------  */

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cf9a3e;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}

#profile-image {
  padding-top: 4em;
}

header p {
 font-family: 'Source Sans Pro', sans-serif;
 font-size: 1.3em;
 padding-bottom: 10px; 
 color: #FFFFFF;
 margin-bottom: 1em;
 margin-block-start: 0em;
 margin-block-end: 0em;

}