form {
  align-items: center;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.tweet-buttom {
  font-size: 16px; 
  font-family: 'Bungee';
  color: #FFFFFF;
  background-color: #4056A1;
}

textarea#tweet-text {
  background-color: ;
  resize: none; 

} 